
<div class="py-2 border-top">
  <div class="container">
    <div class="row">

      <div class="col-sm">
        <ul class="list-unstyled">
          <li>
            Made by <a href="https://www.compomics.com" target="_blank">CompOmics</a>
          </li>
          <li>
            Site last <a href="https://github.com/compomics/compomics.github.io" target="_blank">generated</a> at {{ site.time | date: "%R on %F" }}.
          </li>
        </ul>
      </div>

      <div class="col-sm text-right">
        <span class="footer-social-icons">
          <a href="https://www.compomics.com" target="_blank"><i class="fa fa-home px-1"></i></a>
          <a href="https://github.com/CompOmics" target="_blank"><i class="fa fa-github px-1"></i></a>
          <a href="https://twitter.com/CompOmics" target="_blank"><i class="fa fa-twitter px-1"></i></a>
          <a href="https://www.youtube.com/channel/UCX7yNSWDCUeZx7WOTQ6MO1A" target="_blank"><i class="fa fa-youtube px-1"></i></a>
        </span>
      </div>

    </div>

  </div>
</div>
