<aside id="sidebar">
  {% if page.url != "/index.html" %}
  <div class="widget-wrap">
    <h3 class="widget-title">Links</h3>
    <div class="widget">
      <ul class="post-list">
        <li>
          {% if page.page_type == "project" %}
          <i class="fa fa-home"></i> <a href="{{ page.url | prepend: site.baseurl | append: site.projects.output_ext }}">Project Home</a>
          {% endif %}
          {% if page.date %}
            {% for project in site.projects %}
              {% if project.name == page.project %}
              <i class="fa fa-home"></i> <a href="{{ project.url | prepend: site.baseurl | append: site.projects.output_ext }}">Project Home</a>
              {% endif %}
            {% endfor %}
          {% endif %}
        </li>
        <li>
            <i class="fa fa-github"></i> <a href="{{ page.github_project }}">Source</a>
        </li>
        <li>
            <i class="fa fa-exclamation-circle"></i> <a href="{{ page.github_project }}/issues">Issues</a>
        </li>
      </ul>
    </div>
  </div>
  {% endif %}
  {% if page.page_type == "project" and site.categories.[page.wiki].size > 0 %}
  <div class="widget-wrap">
    <h3 class="widget-title">Wiki</h3>
    <div class="widget">
      <ul class="post-list">
        {% for page in site.categories.[page.wiki] reversed %}
          <li>
              <a href="{{ page.url | prepend: site.baseurl }}">{{ page.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}
  {% if page.date and page.page_type != "project" %}
  <div class="widget-wrap">
    <h3 class="widget-title">Wiki</h3>
    <div class="widget">
      <ul class="post-list">
        {% for page in site.categories.[page.project] reversed %}
          <li>
              <a href="{{ page.url | prepend: site.baseurl }}">{{ page.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}
  <div class="widget-wrap">
    <h3 class="widget-title">Projects</h3>
    <div class="widget">
      <ul class="post-list">
        {% for project in site.projects %}
          <li>
              {% if page.name == project.name or page.project == project.name %}
              <i class="fa fa-caret-right"></i>
              <b>
              {% endif %}
              <a href="{{ project.url | prepend: site.baseurl | append: site.projects.output_ext }}">{{ project.name }}</a>
              {% if page.name == project.name or page.project == project.name %}
              </b>
              {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</aside>
