// Typography
p{
    text-align: justify;
    margin-bottom: 1.5 rem;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 1 rem;
}

// Navbar
.navbar-dark{
    background-color: theme-color("primary-darker");
}

.navbar .navbar-brand img{
    max-width: 120px;
    padding: 10px 0px;
}
.navbar-brand{
    padding: 0px 15px;
}

// Footer
.footer-social-icons,
.footer-social-icons a{
    font-size: 1.2em;
    color: theme-color("primary-darker");
}

.highlight pre {
    margin-bottom: 1rem;
    border: 0px;
}

// List-group-item
.list-group-item-heading {
    background-color: $gray-200;
}

.card p {
    text-align: left;
}